<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
	  	http://www.springframework.org/schema/context/spring-context.xsd
	  	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	">

    <context:property-placeholder location="classpath*:ServerConfig.properties"
                                  ignore-resource-not-found="true"/>
    <context:annotation-config />
    <context:component-scan base-package="com" />
    <aop:aspectj-autoproxy proxy-target-class="true"/>


    <bean id="springDSN"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"
                  value="com.mysql.jdbc.Driver">
        </property>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/wristband">
        </property>
        <property name="username" value=""></property>
        <property name="password" value=""></property>
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate" abstract="false"
          lazy-init="false" autowire="default">
        <property name="dataSource">
            <ref bean="springDSN" />
        </property>
    </bean>

    <!--<import resource="applicationContext-mongo.xml"/>-->
    <!--<import resource="spring-scheduler.xml"/>-->
    <!--<import resource="applicationContext-redis.xml"/>-->
    <import resource="applicationContext-elastic-job.xml"/>
    <!--<import resource="applicationContext-db.xml"/>-->
    <!--<import resource="applicationContext-rabbitmq.xml"/>-->
    <!--<import resource="applicationContext-rabbitmq-consumer.xml"/>-->
</beans>
